.signup-child
  .signup-header
    h3 #{product.name}
    .signup-pricing
      span.pricing Rs#{price}
      | /builds
      p All the low level rigs
  .signup-features
    ul
      li
        i.fas.fa-check.small-icon  
        | Latest rigs
      li
        i.fas.fa-check.small-icon  
        | Order 24/7
      li
        i.fas.fa-check.small-icon  
        | Access to newest creations
      li
        i.fas.fa-check.small-icon  
        | Free delivery
    .signup-button
      a.btn.btn-full(href='#') Buy Now