extends base
block content               
  link(rel="stylesheet", href="../style.css")
  .othernav
  .container-grey
    .form-container
      form.resetPassword.form-page
        h3.heading-secondary RESET PASSWORD
        .entry
          .entry-text Password
          input#pwd(type='password' placeholder="*********")
        .entry
          .entry-text Confirm Password
          input#cpw(type='password' placeholder="*********")
        .entry
          .btn-parent.left
            button#changePasswordbtn(type="submit" data-token=`${token}`).btn.btn-full.form-button RESET PASSWORD